<html lang="en">
<body>
  <div class="green-background"></div>
  <div class="wrap">
      <section class="left">
          <div class="profile">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/user.jpg">
              <a style="margin: 15px;" class="nav-item nav-link" (click)="logout()">Logout</a>
          </div>
          <div class="wrap-search">
              <div class="search">
                  <input type="text" [(ngModel)]="searchBy" class="input-search" placeholder="Search">
              </div>
          </div>
          <div class="contact-list">
            <div *ngFor="let x of users | myfilter:searchBy" [ngClass]="x.Id === message.RecieverId ? 'contact active-contact' : 'contact'"  (click)="loadMessage(x.Id)">              
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/contact7.JPG" alt="profilpicture">
              <div class="contact-preview">
                <div class="contact-text">
                  <h1 class="font-name">{{x.UserName}}</h1>
                  <p class="font-preview">{{x.LastMessage}}</p>
                </div>
              </div>
              <div class="contact-time">
                <p>{{x.LastMessageTime}}</p>
              </div>
            </div>
          </div>
      </section>

      <section class="right">
          <div class="chat-head">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/contact7.JPG" alt="profilpicture">
          </div>
          <div class="wrap-chat">
            <div class="chat">
              <div class="chat-bubble" *ngFor="let m of currentMessages" [ngClass]="m.SenderId === user.Id ? 'me' : 'you'">
                <div [ngClass]="m.SenderId === user.Id ? 'my-mouth' : 'your-mouth'"></div>
                <div class="content">{{m.Message}} <a class="delete-btn" (click)= "delete(m.Id)">X</a></div>
                <div class="time">{{m.MessageTime}}</div>
              </div>
            </div>
            <div class="information"></div>
          </div>
          <div class="wrap-message">
              <div class="message">
                  <input type="text" class="input-message" (keyup.enter)="send()" [(ngModel)]="message.Message" *ngIf="message.RecieverId !==''" placeholder="Type a message">
              </div>
          </div>
      </section>
  </div>
</body>
</html>